/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.profile {
  position: relative;
}

.profile__avatar-wrapper {
  border: 8px solid white;
  overflow: hidden;
  border-radius: 40px;
  width: 130px;
  height: 130px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.profile__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.profile__text-wrapper {
  background-color: #212529;
  padding: 6rem 3rem;
  border-radius: 20px;
  color: white;
  position: relative;
  top: 65px;
  z-index: -1;
}

.profile__quote {
  letter-spacing: 1px;
}

.profile__name {
  margin-top: 1rem;
  display: block;
  text-align: center;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 6px;
  border: none;
}

.btn--primary {
  background-color: #212529;
  color: white;
}

.btn--accent {
  background-color: #ff9800;
  color: white;
}

.btn--darken {
  background-color: #1a385c;
  color: white;
}

.btn--light {
  background-color: #f4f5f8;
}

.author-of-the-month__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.author-of-the-month__list .profile {
  margin: 1rem;
}

@media screen and (max-width: 468px) {
  .author-of-the-month__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .author-of-the-month__list .profile {
    margin-bottom: 5rem;
  }
}

.landing-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-section * {
  max-width: 1200px;
}
/*# sourceMappingURL=style.css.map */