.btn {
    padding: 1rem 2rem;
    border-radius: 6px;
    border: none;

    &--primary {
        background-color: $primary;
        color: white;
    }
    &--accent {
        background-color: $accent;
        color: white;
    }
    &--darken {
        background-color: $darken;
        color: white;
    }
    &--light {
        background-color: $light;
    }
}